.bg-black {
	background-color: #130418;
}

.colorgrey {
	background-color: #f3f3f3;
}


#camagru {
    width: 350px;
    height: auto;
}

.position-bottom {
    position: inherit;
    bottom:0;
}

#comment-list{
	max-height: 100px;
	overflow-y:auto;
	display: inline-block;
}


/* sm */
@media (min-width: 768px) {
    #camagru {
        width: 400px;
    }
    
}
/* md */
@media (min-width: 992px) {
    #camagru {
        width: 500px;
    }
    .position-bottom {
        position: absolute;
        bottom:0;
    }
    #comment-list{
        max-height: 420px;
    }
}
/* lg */
@media (min-width: 1200px) {
    #camagru {
        width: 600px;
    }
}
