.video-overlay{
  position: absolute;
}

.img-preview {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

#preview-list{
  height: 70vh;
  overflow-y:auto;
  display: inline-block;
}

.take_photo_position {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-circle { 
  height: 90%;
  width: 80%;
  border-radius: 50%;
  text-align: center; 
  padding: 0;
} 

.filter {
  display: none;
}

.label-filter {
  border: 2px solid #f3f3f3;
}

:checked + .label-filter{
  border-color: #4ee949;
}

